@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* font-family: 'Inter', sans-serif; */
/* font-family: 'Noto Sans TC', sans-serif; */

:root {
    --f-family-1: 'Inter', 'Noto Sans TC', sans-serif;
}




body {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--f-family-1);
}





/* =====================-----header=====================----- */




header {

    padding: 35px 55px 120px 55px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}




header img {
    display: block;
    width: 100%;
}

.year {
    /* TODO: */

    font-weight: 700;
    font-size: 1em;
}


/* ========================= nav ======================= */

.nav {
    display: flex;
    align-items: flex-end;
    /* min-width: px; */
    padding-bottom: 25px;
    text-align: center;
    padding-left: 100px;
}

.navbar {
    display: block;
    padding-left: 30px;
}

.nav-item {
    text-align: center;
}

nav a {

    display: block;
    width: 7.5em;
    height: 60px;
    margin-left: 5px;
    /* padding-top: 36px; */
    background-color: #D9D9D9;

    font-weight: 600;
    font-size: 1.2em;
    color: #fff;

}

nav ul li a:hover {
    background-color: rgb(164, 164, 164);
}

.nav-link {
    padding-top: 40px;
}


.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
}

@media (min-width: 992px) {

    .offcanvas2 {
        display: none;
    }

}

@media (max-width: 991px) {
    .offcanvas1 {
        display: none;
    }

    nav a {
        width: 100%;
        margin-left: 0px;
        background-color: #D9D9D9;
    }

    nav ul li a:hover {
        background-color: rgb(164, 164, 164);
    }

    .offcanvas-body {
        padding: 0;
    }

    .offcanvas-header,
    .offcanvas-body {
        background-color: #D9D9D9;

    }
}






/* ================================ sec1 ================================ */


section {
    height: auto;
    background-color: #f3f3f3;
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.secLeft {
    display: inline-block;
    width: 12%;
    height: auto;
    overflow: hidden;

}

.secLeft img {

    display: block;
    width: 100%;

}

.secRight {
    /* margin-right: 15%; */
    display: inline-block;


}


.secRight span {
    display: flex;

}

.secRight p {
    padding-right: 20px;
    margin-bottom: 0;
    line-height: 2;
}

.secRight span .l {
    font-size: 17px;
    font-weight: 500;
    padding-right: 50px;
}


.secRight h3 {
    font-size: 20px;
    font-weight: 700;
}


.line {
    width: 1px;
    background-color: #000000;
    margin-right: 50px;
}


/* ========================== footer ======================= */



footer {
    font-size: 8px;
    font-weight: 500;
    text-align: center;
    padding: 70px 0 60px 0;
    background-color: #f3f3f3;

}


/* =======================top========================= */


.toTop-arrow {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.6;
    background: #000;
    cursor: pointer;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
    width: 18px;
    height: 4px;
    border-radius: 3px;
    background: #7e7e7e;
    position: absolute;
    content: "";
}

.toTop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.73rem;
}

.toTop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.73rem;
}

.toTop-arrow:focus {
    outline: none;
}



/* TODO:  */
/* #########################1000PX########################## */



@media (max-width: 1000px) {



    /* ================================ sec1 ================================ */



    .secLeft {

        width: 22%;


    }

    .secLeft img {

        display: block;
        width: 100%;

    }



    .secRight p {
        padding-right: 18px;
        margin-bottom: 0;
        line-height: 1.8;
    }

    .secRight span .l {
        font-size: 15px;


    }


    .secRight h3 {
        font-size: 16px;

    }


    .line {
        width: 1px;
        background-color: #000000;
        margin-right: 50px;
    }



}





/* #########################700PX########################## */
@media (max-width: 700px) {
    header {
        padding: 35px 30px 50px 30px;
    }

    .sec {
        display: block;
        text-align: center;
    }

    .secLeft {

        width: 80%;


    }

    .secLeft img {

        display: block;
        width: 100%;


    }



    .secRight {
        /* margin-right: 15%; */
        display: inline-block;


    }


    .secRight span {
        display: flex;

    }

    .secRight p {
        padding-right: 10px;
        margin-bottom: 0;
        line-height: 2;
        text-align: left;
    }

    .secRight span .l {
        font-size: 17px;
        font-weight: 500;
        padding-right: 20px;
    }


    .secRight h3 {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 30px;
    }


    .line {
        width: 1px;
        background-color: #000000;
        margin-right: 20px;
    }



}