@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* font-family: 'Inter', sans-serif; */
/* font-family: 'Noto Sans TC', sans-serif; */

:root {
    --f-family-1: 'Inter', 'Noto Sans TC', sans-serif;
}





body {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--f-family-1);
}







/* =====================-----header=====================----- */




header {

    padding: 35px 55px 120px 55px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}




header img {
    display: block;
    width: 100%;
}

.year {
    /* TODO: */

    font-weight: 700;
    font-size: 1em;
}


/* ========================= nav ======================= */

.nav {
    display: flex;
    align-items: flex-end;
    /* min-width: px; */
    padding-bottom: 25px;
    text-align: center;
    padding-left: 100px;
}

.navbar {
    display: block;
    padding-left: 30px;
}

.nav-item {
    text-align: center;
}

nav a {

    display: block;
    width: 7.5em;
    height: 60px;
    margin-left: 5px;
    /* padding-top: 36px; */
    background-color: #D9D9D9;

    font-weight: 600;
    font-size: 1.2em;
    color: #fff;

}

nav ul li a:hover {
    background-color: rgb(164, 164, 164);
}

.nav-link {
    padding-top: 40px;
}


.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
}

@media (min-width: 992px) {

    .offcanvas2 {
        display: none;
    }

}

@media (max-width: 991px) {
    .offcanvas1 {
        display: none;
    }

    nav a {
        width: 100%;
        margin-left: 0px;
        background-color: #D9D9D9;
    }

    nav ul li a:hover {
        background-color: rgb(164, 164, 164);
    }

    .offcanvas-body {
        padding: 0;
    }

    .offcanvas-header,
    .offcanvas-body {
        background-color: #D9D9D9;

    }
}






/* -----------------------main----------------------- */

main {
    width: 100%;
    height: auto;
    padding: 0px 55px 0px 55px;
    display: inline-block;
    position: relative;

}

main h1 {
    font-weight: 700;
    font-size: 70px;
    display: inline-block;
    padding-right: 5px;
}

main h2 {
    font-weight: 450;
    font-size: 28px;
    display: inline-block;
}

.wYear {
    position: absolute;
    padding-bottom: 14px;
    right: 55px;
    bottom: 0;
    font-size: 13px;

}

main p {
    font-weight: 700;

}

main span {

    display: flex;
    justify-content: end;
}

/* ------------------------------banner------------------------- */



.banner {
    width: 100%;

    margin-bottom: -1px;
}

.banner img {

    width: 100%;



}

/* -------------------------------aside--------------------------- */

.content {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #8CB09E;

}

aside .enName {
    font-size: 24px;
    font-weight: 600;
    display: block;
    padding-bottom: 20px;
}

article {
    font-size: 12px;
    text-align: center;
}


.left {
    padding: 0px 20px 0 50px;
    /* margin-left: 80px; */
    width: 35%;
}

.right {
    /* display: inline-block; */
    width: 65%;
    padding: 0px 0px 0 0px;

}


.content img {
    display: inline-block;
    max-width: 90%;
    height: auto;
    padding-right: 10px;
}


/* -------------------------------figure--------------------------- */


figure {
    width: 100%;
}

figure img {
    width: 100%;
}

figure .img2 {
    display: none;
}





/* -----------查看完整作品----------- */

.whole {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.whole p {
    padding-top: 30px;
    margin-bottom: 0;
}

.whole a {
    padding-top: 10px;
}


/* -------------------------------footer--------------------------- */

footer {
    text-align: center;
    padding: 70px 0 30px 0;

}



/* =======================top========================= */


.toTop-arrow {
	width: 3rem;
	height: 3rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 50%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 3rem;
	bottom: 3rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 4px;
	border-radius: 3px;
	background: #7e7e7e;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.73rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.73rem;
}
.toTop-arrow:focus {outline: none;}




/* TODO:  */
/* #########################1200PX########################## */



@media (max-width: 1200px) {

    main {
        display: inline-block;
        position: relative;
    }

    main h1 {
        font-weight: 700;
        font-size: 45px;
    }

    main h2 {
        font-weight: 400;
        font-size: 30px;
    }

    .wYear {
        right: 55px;
        bottom: 0;
        font-size: 10px;

    }

    main p {
        font-weight: 700;
    }

    main span {
        display: flex;
        justify-content: end;
    }


    /* -------------------------------aside--------------------------- */

    .content {
        display: block;
        padding-top: 90px;
        padding-bottom: 0px;
    }

    aside .enName {
        font-size: 28px;
    }

    article {
        font-size: 16px;
        text-align: justify;

    }


    .left {
        padding: 0px 40px 40px 40px;

        width: 100%;

    }

    .right {
        width: 100%;
    }


    .content img {
        max-width: 100%;
        padding-right: 0px;
        padding-top: 40px;
    }

    /* -------------------------------figure--------------------------- */





}





/* #########################700PX########################## */
@media (max-width: 700px) {
    header {
        padding: 35px 30px 50px 30px;
    }


    /* -----------------------main----------------------- */

    main {
        display: none;
    }


    /* -------------------------------aside--------------------------- */

    .content {
        display: block;
        padding-top: 90px;
        padding-bottom: 0px;
    }

    aside .enName {
        font-size: 28px;
    }

    article {
        font-size: 16px;
        text-align: justify;

    }


    .left {
        padding: 0px 40px 40px 40px;

        width: 100%;

    }

    .right {
        width: 100%;
    }


    .content img {
        max-width: 100%;
        padding-right: 0px;
        padding-top: 40px;
    }


    /* -------------------------------figure--------------------------- */


    figure .img1 {
        display: none;
    }

    figure .img2 {
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* -----------查看完整作品----------- */

    .whole {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }

    .whole p {
        padding-top: 30px;
        margin-bottom: 0;
    }

    .whole a {
        padding-top: 10px;
    }




}